/* Importando .css */
@import url("https://www.w3schools.com/w3css/4/w3.css");
/* Importando fonte */
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Importando ícones */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

#home-icon {
  margin-right: 8px;
  text-align: left;
}

p.categoria-academica {
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}

p.justify {
  text-align: justify;
}

h5.educacaotittle {
  margin-bottom: -12px;
}
p.subtexto {
  margin-bottom: -15px;
}


h2#nome-h2 {
  color: #f0f0f0;
  text-align: center;
  border: 1px solid #333;
  border-radius: 50px;
  background-color: #333;
}

hr#hr1 {
  height: 3px;
  border-radius: 25px;
  background-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
hr#hr2 {
  height: 1.5px;
  background-color: rgb(61, 61, 61);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  width: 5rem;
  padding-bottom: 1rem;
}
p#footer {
  font-size: 1.1rem;
}

.language-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gear-icon {
  width: 30px;
  height: 30px;
  background-image: url("assets/gear-solid.svg");
  background-size: cover;
  transition: transform 0.5s;
}

.language-panel {
  display: none;
  position: absolute;
  bottom: 60px;
  right: 0;
  background-color: #cccccc;
  border-radius: 5px;
  padding: 10px;
}
.language-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.language-panel ul li {
  margin-bottom: 5px;
  border-bottom: 1px solid #131313;
}
.language-panel ul li a {
  font-size: 17px;
  color: #333;
  text-decoration: none;
}
.language-panel ul li a:hover {
  color: white;
  background-color: rgb(109, 109, 109);
  cursor: pointer;
}
.language-button:hover .gear-icon {
  cursor: pointer;
  transform: rotate(360deg);
}
.language-button.active .language-panel {
  display: block;
}
.language-button:active .gear-icon {
  background-image: url("assets/gear-solid-colored.svg");
  width: 35px;
  height: 35px;
}
.language-button.active .gear-icon {
  background-image: url("assets/gear-solid-colored.svg");
}

#email-text {
  padding: 0.2rem;
  border: 1px solid #131313;
  border-radius: 10px;
}
span.email-copy-ico {
  color: black;
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  background-color: #cccccc;
  padding: 0.1rem 0.4rem;
  border: 1px;
  border-radius: 10px;
}
.email-ico {
  margin-right: 12px;
}

span.email-copy-ico:hover {
  background-color: #e0e0e0;
}
span.email-copy-ico:active {
  color: #2c2c2c;
}
.imgcopy {
  width: 18px;
  size: 18px;
}
.txt-copiar {
  font-size: 13px;
}


.weatherapp-link {
  font-size: 85%;
  color: blue;
}

/*

<div class="nav-signin-tt nav-flyout" style="display: none; position: absolute; top: -5px; left: 1226.55px; opacity: 1;"><div class="nav-arrow"><div class="nav-arrow-inner"></div></div><div id="nav-signin-tooltip"><a href="https://www.amazon.com.br/ap/signin?openid.pape.max_auth_age=0&amp;openid.return_to=https%3A%2F%2Fwww.amazon.com.br%2F%3Fref_%3Dnav_custrec_signin&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.assoc_handle=brflex&amp;openid.mode=checkid_setup&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0" class="nav-action-signin-button" data-nav-role="signin" data-nav-ref="nav_custrec_signin"><span class="nav-action-inner">Faça seu login</span></a><div class="nav-signin-tooltip-footer">Cliente novo? <a href="https://www.amazon.com.br/ap/register?openid.pape.max_auth_age=0&amp;openid.return_to=https%3A%2F%2Fwww.amazon.com.br%2F%3F_encoding%3DUTF8%26ref_%3Dnav_custrec_newcust&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.assoc_handle=brflex&amp;openid.mode=checkid_setup&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0" class="nav-a">Comece aqui.</a></div></div><div class="nav-flyout-buffer-left"></div><div class="nav-flyout-buffer-right"></div><div class="nav-flyout-buffer-top"></div><div class="nav-flyout-buffer-bottom"></div></div>

*/

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/* 
  RESPONSIVIDADE
*/

@media (max-width: 510px) {

  span.email-copy-ico {
    margin-left: 6rem;
    margin-top: 1rem;
  }
  h2#nome-h2 {
    font-size: 150%;
    padding: 1%;
  }

}


@media (max-width: 600px) {

  span.email-copy-ico {
    margin-left: 6rem;
    margin-top: 1rem;
  }
  h2#nome-h2 {
    font-size: 160%;
    padding: 1%;
  }

}


@media (min-width: 690px) and (max-width: 735px) {

  span.email-copy-ico {
    margin-left: 4rem;
    margin-top: 0.6rem;
  }
  * {
    font-size: 99%;
  }
  h2#nome-h2 {
    font-size: 130%;
    padding: 10px 7px;
  }
  #email-text {
    font-size: 10.7px;
  }

}

@media (min-width: 736px) and (max-width: 900px) {

  span.email-copy-ico {
    margin-left: 4.2rem;
    margin-top: 0.6rem;
  }
  * {
    font-size: 99%;
  }
  h2#nome-h2 {

    padding: 10px 7px;
  }
  #email-text {
    font-size: 11.5px;
  }

}


@media (min-width: 601px) and (max-width: 689px) {

  span.email-copy-ico {
    margin-left: 2.3rem;
    margin-top: 0.5rem;
  }
  .imgcopy {
    width: 13px;
    size: 13px;
  }
  .txt-copiar {
    font-size: 11px;
  }
  h2#nome-h2 {
    font-size: 120%;
    padding: 5px 5px;
  }
  p {
    font-size: 95%;
  }
  #email-text {
    font-size: 60.2%;
    padding: 0.2rem;
    border: 1px solid #131313;
    border-radius: 10px;
  }
  .w3-large {
    font-size: 15px!important;
  }
  .w3-xlarge {
    font-size: 18px!important;
  }
  #home-icon {
    margin-right: 12px;
    text-align: left;
  }

}


@media (min-width: 901px) and (max-width: 1215px) {
  
  span.email-copy-ico {
    margin-left: 6rem;
    margin-top: 1rem;
  }

}